body {
    font-family: 'Indie Flower', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
}


.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    border-bottom: 3px solid black;
    background-color: #FFD90F;
}

.navbar-brand {
    font-size:130%;
}

.jumbotron {
    min-height: 500px;
    border-bottom: 3px solid black;
    background-color: #FFD90F;
}

.card {
    display: inline-flex;
    max-height: 200px;
    margin: 10px;
    border: 4px solid lightgrey;
}

#pictureContainer {
    border: 1px solid black;
    background-color: rgb(214, 40, 40);
    padding: 5px;
}

.img-container {
    max-height: 200px;
}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

h1 {
    margin-top: 6%;
}

.cardImg {
    height: 200px;
    margin-left: 18%;
}

.footer {
    margin-top: 15px;
    background: #FFD90F;
    height: 60px;
    position: relative;
    color: #000;
    overflow: auto
}

.footer>.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFD90F;
    padding: 8px;
    color: #000;
}

#logo {
    height: 40px;
    width: 40px;
    position: relative;
    top: 0;
    left: 10px
}

#banner {
    height: 200px;
    width: 200px;
}
.btn {
    font-size:110%;
}