/* body {
    display:flex;
    align-items:center;
  } */

.jumbotron {
    min-height: 350px;
    /*background-image */
}

.card {
    display: inline-flex;
    max-height: 200px;
    margin:10px;
    border:4px solid lightgrey;

}

#pictureContainer {
    border:1px solid black;
    background-color:rgba(18, 197, 181,0.8);
    padding:5px;

}

.img-container {
    max-height: 200px;

}

.card:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

img {
    height: 200px;
    margin-left: 18%;
}