/* body {
    display:flex;
    align-items:center;
  } */

.jumbotron {
    min-height: 350px;
    /*background-image */
}

.card {
    display: inline-flex;
    max-height: 200px;
    margin:5px;

}

.img-container {
    max-height: 200px;
}

img {
    height: 200px;
}